{% extends "::base.html.twig" %}

{% block body %}
    <a class="btn btn-primary" href="{{ path('admin_add') }}">Add</a>
    <a class="btn btn-primary" href="{{ path('admin_list') }}">List</a>

{% endblock %}